.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-color: aqua;

    // background-color: aqua;
}

.distance-container>* {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    border-color: aqua;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.distance-container {
    display: none !important;
}

.distance-container.active {
    display: block !important;
}